<#@ assembly name="$(ZorglubT4Assembly)" #>
<#@ import namespace="Microsoft.VisualStudio.TextTemplating" #>
<#@ import namespace="Zorglub.TextTemplating" #>
<#@ include file="SpecializedCalendar.EmitAdjuster.tt" #>
<#@ include file="SpecializedCalendar.EmitClock.tt" #>
<#@ include file="SpecializedCalendar.EmitDate.tt" #><#+

public abstract partial class SpecializedCalendarTemplate : VSTemplate
{
    protected SpecializedCalendarTemplate(TextTransformation parent, string schema) : base(parent)
    {
        if (String.IsNullOrWhiteSpace(schema))
            throw new ArgumentException("The schema can not be null or blank.", nameof(schema));

        Schema = schema;
        DisplayName = Name;
        Prefix = Name;
    }

    public string DisplayName { get; protected set; }
    public string Prefix { get; protected set; }
    public string Schema { get; }
    public string DaysSinceEpochField { get; protected set; } = "_daysSinceEpoch";

    protected sealed override void WriteContent()
    {
        WriteLine();
        EmitPragmas();

        WriteLine();
        EmitNamespace();

        WriteLine();
        EmitUsings();

        WriteLine();
        EmitCalendar();

        WriteLine();
        EmitAdjuster();

        WriteLine();
        EmitClock();

        WriteLine();
        EmitDate();
    } // T4: End of WriteContent()

    protected void EmitPragmas()
    {
#>
#pragma warning disable IDE0240 // Remove redundant nullable directive ✓
// Public API, fix RS0041 "Public members should not use oblivious types".
#nullable enable
#pragma warning restore IDE0240
<#+
    } // T4: End of EmitPragmas()

    protected void EmitNamespace()
    {
#>
namespace <#= Namespace #>;
<#+
    } // T4: End of EmitNamespace()

    protected virtual void EmitUsings()
    {
#>
using Zorglub.Time.Core.Intervals;
using Zorglub.Time.Core.Schemas;
using Zorglub.Time.Core.Validation;
using Zorglub.Time.Hemerology;
using Zorglub.Time.Hemerology.Scopes;
using Zorglub.Time.Horology;
<#+
    } // T4: End of EmitUsings()

    protected void EmitCalendar()
    {
#>
/// <summary>Represents the <#= DisplayName #> calendar.
/// <para>This class cannot be inherited.</para></summary>
public sealed partial class <#= Prefix #>Calendar : SpecialCalendar<<#= Prefix #>Date>
{
    /// <summary>Initializes a new instance of the <see cref="<#= Prefix #>Calendar"/> class.</summary>
    public <#= Prefix #>Calendar() : this(new <#= Schema #>()) { }

    private protected sealed override <#= Prefix #>Date GetDate(int daysSinceEpoch) => new(daysSinceEpoch);
}
<#+
    } // T4: End of EmitCalendar()
} // T4: End of SpecializedCalendarTemplate

#>
