<#@ assembly name="$(MyTextTemplating)" #>
<#@ import namespace="Microsoft.VisualStudio.TextTemplating" #>
<#@ import namespace="Zorglub.TextTemplates" #><#+

public partial class NadaTemplate : VSTemplate
{
    public NadaTemplate(TextTransformation parent) : base(parent) { }

    protected override void WriteContent()
    {
#>YYY<#+
    }
}

#>
