<#@ template hostspecific="true" #>
<#@ output extension=".g.cs" #>
<#@ include file="$(ZorglubT4Directory)Calendar.tt" once="true" #>
<#= new ArmenianTemplate(this).Execute() #><#+

public sealed class ArmenianTemplate : CalendarTemplate
{
    public ArmenianTemplate(TextTransformation parent) : base(parent, "Egyptian12Schema") { }
}

#>