<#@ template hostspecific="true" #>
<#@ output extension=".g.cs" #>
<#@ include file="$(ZorglubT4Directory)Calendar.tt" once="true" #>
<#= new Armenian13Template(this).Execute() #><#+

public sealed class Armenian13Template : CalendarTemplate
{
    public Armenian13Template(TextTransformation parent) : base(parent, "Egyptian13Schema") { }

    public override void Initialize() { DisplayName = "Armenian"; }
}

#>