<#@ template hostspecific="true" #>
<#@ output extension=".g.cs" #>
<#@ include file="$(ZorglubT4Directory)SpecializedCalendar.tt" once="true" #>
<#= new ArmenianTemplate(this).Execute() #><#+

public sealed class ArmenianTemplate : SpecializedCalendarTemplate
{
    public ArmenianTemplate(TextTransformation parent) : base(parent, "Egyptian12Schema") { }
}

#>