<#@ template language="C#" debug="true" hostspecific="true" #>
<#@ output extension=".g.cs" #>
<#@ include file="$(ZorglubT4Directory)Specialized\Coptic.tt" #>
<#= new CopticTemplate(this).Execute() #>