<#@ template language="C#" debug="true" hostspecific="true" #>
<#@ output extension=".g.cs" #>
<#@ include file="$(MyTextTemplates)Specialized\Ethiopic13.tt" #>
<#= new Ethiopic13Template(this).Execute() #>