<#@ template hostspecific="true" #>
<#@ output extension=".g.cs" #>
<#@ include file="$(ZorglubT4Directory)SpecializedCalendar.tt" once="true" #>
<#= new EthiopicTemplate(this).Execute() #><#+

public sealed class EthiopicTemplate : SpecializedCalendarTemplate
{
    public EthiopicTemplate(TextTransformation parent) : base(parent, "Coptic12Schema") { }
}

#>