<#@ template language="C#" debug="false" hostspecific="false" #>
<#@ output extension=".g.cs" #>
<#@include file="$(MyTextTemplates)SpecialCalendarV1.tt" #>
<#
    WriteSpecialCalendar("Ethiopic", "Ethiopic", "Coptic12Schema");
#>
