<#@ template hostspecific="true" #>
<#@ output extension=".g.cs" #>
<#@ include file="$(ZorglubT4Directory)Calendar.tt" once="true" #>
<#= new TabularIslamicTemplate(this).Execute() #><#+

public sealed class TabularIslamicTemplate : CalendarTemplate
{
    public TabularIslamicTemplate(TextTransformation parent) : base(parent, "TabularIslamicSchema") { }

    public override void Initialize() { DisplayName = "Tabular Islamic"; }
}

#>