<#@ template language="C#" debug="true" hostspecific="true" #>
<#@ output extension=".g.cs" #>
<#@ include file="$(MyTextTemplates)Specialized\TabularIslamic.tt" #>
<#= new TabularIslamicTemplate(this).Execute() #>