<#@ template hostspecific="true" #>
<#@ output extension=".g.cs" #>
<#@ include file="$(ZorglubT4Directory)SpecializedCalendar.tt" once="true" #>
<#= new WorldTemplate(this).Execute() #><#+

public sealed class WorldTemplate : SpecializedCalendarTemplate
{
    public WorldTemplate(TextTransformation parent) : base(parent, "WorldSchema") { }
}

#>