<#@ template language="C#" debug="true" hostspecific="true" #>
<#@ output extension=".g.cs" #>
<#@ include file="$(MyTextTemplates)Specialized\Zoroastrian.tt" #>
<#= new ZoroastrianTemplate(this).Execute() #>