<#@ import namespace="Microsoft.VisualStudio.TextTemplating" #>
<#@ include file="Calendar.tt" once="true" #><#+

public sealed partial class CopticTemplate : CalendarTemplate
{
    public CopticTemplate(TextTransformation parent)
        : base(parent, "Coptic12Schema") { }
}

#>