<#@ import namespace="Microsoft.VisualStudio.TextTemplating" #>
<#@ include file="Calendar.tt" once="true" #><#+

public sealed partial class Coptic13Template : CalendarTemplate
{
    public Coptic13Template(TextTransformation parent)
        : base(parent, "Coptic13Schema") { }

    public override void Initialize()
    {
        DisplayName = "Coptic";
    }
}

#>