<#@ import namespace="Microsoft.VisualStudio.TextTemplating" #>
<#@ include file="$(MyTextTemplates)Specialized\Calendar.tt" once="true" #><#+

public sealed partial class Ethiopic13Template : CalendarTemplate
{
    public Ethiopic13Template(TextTransformation parent)
        : base(parent, "Coptic13Schema") { }

    public override void Initialize()
    {
        DisplayName = "Ethiopic";
    }
}

#>