<#@ import namespace="Microsoft.VisualStudio.TextTemplating" #>
<#@ include file="$(MyTextTemplates)Specialized\Calendar.tt" once="true" #><#+

public sealed partial class TabularIslamicTemplate : CalendarTemplate
{
    public TabularIslamicTemplate(TextTransformation parent)
        : base(parent, "TabularIslamicSchema") { }

    public override void Initialize()
    {
        DisplayName = "Tabular Islamic";
    }
}

#>