<#@ import namespace="Microsoft.VisualStudio.TextTemplating" #>
<#@ include file="Calendar.tt" once="true" #><#+

public sealed partial class WorldTemplate : CalendarTemplate
{
    public WorldTemplate(TextTransformation parent)
        : base(parent, "WorldSchema") { }
}

#>