<#@ import namespace="Microsoft.VisualStudio.TextTemplating" #>
<#@ include file="$(MyTextTemplates)Specialized\Calendar.tt" once="true" #><#+

public sealed partial class ZoroastrianTemplate : CalendarTemplate
{
    public ZoroastrianTemplate(TextTransformation parent)
        : base(parent, "Egyptian12Schema") { }
}

#>