<#@ template debug="true" hostspecific="true" #>
<#@ output extension=".g.cs" #>
<#@ include file="$(ZorglubT4Directory)GSpecializedCalendar.tt" once="true" #>
<#= new GSpecializedCalendarTemplate(this, "GregorianSchema").Execute() #>