<#@ template hostspecific="true" #>
<#@ output extension=".g.cs" #>
<#@ include file="$(ZorglubT4Directory)GCalendar.tt" once="true" #>
// SPDX-License-Identifier: BSD-3-Clause
// Copyright (c) Tran Ngoc Bich. All rights reserved.

<#= new GCalendarTemplate(this, "GregorianSchema").Execute() #>