<#@ template hostspecific="true" #>
<#@ output extension=".g.cs" #>
<#@ include file="$(ZorglubT4Directory)SpecializedCalendar.tt" once="true" #>
<#= new JulianTemplate(this).Execute() #><#+

public sealed class JulianTemplate : SpecializedCalendarTemplate
{
    public JulianTemplate(TextTransformation parent) : base(parent, "JulianSchema") { }
}

#>